.Contact_form_section {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.contact_form_wrapper{
  width: 70%;
}

.formSpacing{
display: flex;
flex-direction: column;
gap: 2rem;
}
.contact_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7F7047;
}
.contact_form_title {
  color: #fff;
  font-family: "NeueMontreal-Regular" !important;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 30px;
}

.contact_us_image {
  width: 50%;
}

.form_group , .form_group1 {
  position: relative;

}


.form_field {
  border: 1px solid white !important;
  box-sizing: border-box;
  color: white;
  font-family: "NeueMontreal-Regular" !important;
  height: 55px;
  background: transparent;
  width: 100%;
  padding: 0rem 15px;
  font-size: 18px;
  resize: none;
  outline: none;
  border: none;
}
.form_field::placeholder {
  color: transparent;
}

.form_field:placeholder-shown ~ .form_label {
  top: 14px;
  border-right: none;
  border-left: none;
}

.form_label {
  background-color: #7f7047;
  color: white;
  display: block;
  font-size: 18px;
  margin-left: 10px;
  padding: 0px 10px;
  pointer-events: none;
  position: absolute;
  font-family: "NeueMontreal-Regular" !important;
  border-right: none;
  border-left: none;
  top: -10px;
  transition: 0.2s;
}

.form_field:focus {
  border: 1px solid white !important;
  outline: none;
}

.form_field:focus ~ .form_label {
  background-color: #7f7047;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  padding: 0px 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}
/* address */
.form_field_address {
  border: 1px solid white !important;
  color: white;
  background: transparent;
  width: 100%;
  font-family: "NeueMontreal-Regular" !important;
  padding: 17px 15px;
  font-size: 18px;
  resize: none;
  outline: none;
  border: none;
}
.form_field_address::placeholder {
  color: transparent;
}

.form_field_address:placeholder-shown ~ .form_label {
  top: 14px;
  border-right: none;
  border-left: none;
}

.form_field_address:focus {
  border: 1px solid white !important;
  outline: none;
}

.form_field_address:focus ~ .form_label {
  background-color: #7f7047;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  padding: 0 10px;
  position: absolute;
  top: -10px;
  transition: 0.2s;
}
.error {
  color: red;
  font-family: "NeueMontreal-Regular" !important;
  font-size: 14px;
  margin-top: 0.2rem;
}
.error1 {
  color: red;
  font-size: 14px;
  font-family: "NeueMontreal-Regular" !important;
  margin-top: 0;
}
.contact_img {
  display: block;
  filter: grayscale(100%) brightness(100%);
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
  object-position: bottom;
  max-width: 100%;
}
.Submit_button {
  color: #000;
  background: #C0C2AA;
  font-family: "NeueMontreal-Regular";
  font-size: 20px;
  font-style: normal;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 20px 80px 20px 80px;
}

@media(min-width:1600px) and (max-width:1920px){
  .contact_form_wrapper{
    width: 75%;
  }
}


@media (max-width: 1024px) {
  .contact_form_wrapper{
    padding-top: 2rem;
  }
}
@media (max-width: 768px) {
  .Contact_form_section {
    flex-direction: column;
    height: auto;
  }
  .contact_img{
    max-width: 100%;
    height: auto;
  }
  .contact_form,
  .contact_us_image {
    width: 100%;
  }
  .contact_form_wrapper{
    width: 70%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .Submit_button {
    float: none;
  }
}
@media (max-width: 430px) {
  .contact_form_wrapper{
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}